<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Replace</title>
</head>
<body>
<script type="text/javascript">
    window.history.replaceState('osdreplacer', 'Replace', '/osdreplacer/');
    var timeleft = 60;
    var downloadTimer = setInterval(function(){
    timeleft--;
    document.getElementById("countdowntimer").textContent = timeleft;
    if(timeleft <= 0) {
        clearInterval(downloadTimer);
        window.location.replace("{{ url }}");}
    },1000);
</script>
{% block content %}
<p> Ждите <span id="countdowntimer">60 </span> секунд</p>
{% endblock %}
</body>
</html>