<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ceph Osd Replace</title>
</head>
<style>
body {
    background-color: white
}
table, th, td {
    border: 1px solid #b9b8b8;
    border-collapse: collapse;
    padding: 6px;
}
tr.noborder td {
    border-style: hidden;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
</style>
<script type="text/javascript">
    function confirm_replace(f, osdid) {
        if (confirm('Are you sure you want to replace osd.' + osdid + '?'))
           f.submit();
    }
</script>
<body>
{% block content %}
<div class="container">
    <table style="width:100%">
    {% for host, listdicts in hostsinfo|dictsort %}
        <tr>
            <td colspan="5" class="noborder"><h1>{{ host }}</h1></td>
        </tr>
        <tr style="background:lightgrey">
            <th>osdid</th>
            <th>block</th>
            <th>serial</th>
            <th>scsipath</th>
            <th>decision</th>
        </tr>
        {% for row in listdicts %}
            <tr>
                <td>{{ row.osdid }}</td>
                <td>{{ row.block }}</td>
                {% if row.newblock != None %}
                <td bgcolor="#ff8566">old serial number: {{ row.serial.old }} / new serial number: {{ row.serial.new }}</td>
                {% else %}
                <td>{{ row.serial }}</td>
                {% endif %}
                <td>{{ row.scsipath }}</td>
                {% if row.newblock != None and row.newblock != 'missing'%}
                <td align="center">
                    <form action="/osdreplacer/replace" name="replace" method="post" onsubmit="confirm_replace(this, {{ row.osdid }});return false;">
                        <input type="hidden" name="action" value="replace" />
                        <input type="hidden" name="osdid" value="{{ row.osdid }}" />
                        <input type="hidden" name="newblock" value="{{ row.newblock }}" />
                        <input type="hidden" name="url" value="{{ url }}" />
                        <input type="hidden" name="host" value="{{ host }}" />
                        <input type="submit" value="Replace" />
                    </form>
                </td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}
    </table>
</div>
{% endblock %}
</body>
</html>
